<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened>
    <mat-list role="list">
      <!-- <mat-list-item role="listitem">
        <button class="wide-button" mat-raised-button color="accent" routerLink="search">Search</button>
      </mat-list-item> -->
      <mat-list-item role="listitem">
        <button class="wide-button" mat-raised-button color="primary" routerLink="search/1">Player 1 Select</button>
      </mat-list-item>
      <mat-list-item role="listitem">
        <button class="wide-button" mat-raised-button color="primary" routerLink="search/2">Player 2 Select</button>
      </mat-list-item>
    </mat-list>
  </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>