<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened>
    <mat-list role="list">
      <mat-list-item role="listitem">
        <button class="wide-button" mat-raised-button color="accent" routerLink="search">Search</button>
      </mat-list-item>
      <mat-list-item role="listitem">
        <button class="wide-button" mat-raised-button color="primary">Player 1</button>
      </mat-list-item>
      <mat-list-item role="listitem">
        <button class="wide-button" mat-raised-button color="primary">Player 2</button>
      </mat-list-item>
    </mat-list>
  </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>