<mat-card>
  <mat-card-title>Search</mat-card-title>
  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="search()">

      <section>
        <mat-form-field>
          <input matInput type="text" placeholder="Pokemon Name" formControlName="searchTerm">
        </mat-form-field>
      </section>

    </form>
  </mat-card-content>
</mat-card>

<span *ngIf="imageArray">
  <a *ngFor="let image of imageArray">
    <button>
      <img [src]=image alt="" (click)="selectImage(image)">
    </button>
  </a>
</span>

<div>
  <h3>Api Response</h3>
  <p *ngIf="apiResponse">{{apiResponse | json}}</p>
</div>
